%ul
  - @search_result_page.content.each do |product|
    %li.clear
      .image-container.left
        - image_source = product['image'] || 'http://sem3-idn.s3-website-us-east-1.amazonaws.com/b1605b889f83108adaf68d36ba3345bb,0.jpg'
        %img.product_image{src: image_source}
      %h2.mb1= product['name']
      = product['description'].length >= 50 ? "#{product['description']}..." : product['description']
      %ul.mt1
        - product['sellers'].each do |seller|
          %li
            = "$#{seller['price']} at "
            = link_to(seller['name'], seller['url'])

#pagination
  - if @search_result_page && @search_result_page.content.count > 0
    - page = @search_result_page.page
    
    - if page > 1
      %span 
        = link_to 'Prev Page', home_search_path(search_term: @search_result_page.search_term, page: page - 1), remote: true, method: :post
    %span
      = page
    - if page > 0 && !@search_result_page.last_page
      %span
        = link_to 'Next Page', home_search_path(search_term: @search_result_page.search_term, page: page + 1), remote: true, method: :post
